.addFoodItem {
    padding: 20px;
}

.addFoodItemFields {    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    /*text-align: left;*/
}

.AddFoodItemFieldsTextfield {
    margin-bottom: 20px;
}


.addFoodItemButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}