
.loginPage {
    margin : auto;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    min-width: 350px;
}


.loginInputs {
    display: flex;
    flex-direction :column;
    padding-top : 10px;
    padding-bottom : 15px;
}

.loginButtons {
    padding-top : 10px;
    display: flex;
    flex-direction : row;
    justify-content: space-between;
}