
.signupPage {
    margin : auto;
    padding : 20px;
    padding-top: 0px;
    min-width: 350px;
}


.signupInputs {
    display: flex;
    flex-direction :column;
    padding-top : 10px;
    padding-bottom : 15px;

}

.signupButtons {
    padding-top : 10px;
    display: flex;
    flex-direction : row;
    justify-content: space-between;
}