body {
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.mainContainer {
    background-color : black;
    padding: 0px;

}
.outterScreen{
    border-style: solid;
    border-width: 10px;
    border-color: grey;
    border-radius: 5px;
    width: 1280px;
    margin: auto;

}
.innerWindow {
    background-color: black;
    height: 720px;
}

.window {
    height: 200px;
    width: 200px;
    background-color: green;
}

.windowEdge {
    height: 20px;
    background-color: gray;

}